# Server
SERVER_PORT=8090

# Auth Service
AUTH_SERVICE=http://localhost:8091

# Catalog Command Service
CATALOG_COMMAND_SERVICE=http://localhost:8092

# Catalog Query Service
CATALOG_QUERY_SERVICE=http://localhost:8093

# AWS
AWS_REGION=eu-west-1

## Cognito
COGNITO_USER_POOL_ID=eu-west-1_123abcZXY