# Database
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=myuser
DB_PASSWORD=changeme
DDL_AUTO=update

# Servlet
CONTEXT_PATH=/mycontextpath

## Kafka
### Topics
ARTIST_TOPIC_NAME=art.topic
SONG_TOPIC_NAME=album.song.topic
ALBUM_TOPIC_NAME=album.topic

# Logging
ROOT_LOG_LEVEL=INFO
SERVICE_LOG_LEVEL=DEBUG