# Database
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=myuser
DB_PASSWORD=changeme
DDL_AUTO=update

# Server
SERVER_PORT=8083

## Servlet
CONTEXT_PATH=/mycontextpath

## Kafka
### Topics
ARTIST_TOPIC_NAME=art.topic
SONG_TOPIC_NAME=album.song.topic
ALBUM_TOPIC_NAME=album.topic

### Consumer & Listener
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_CONSUMER_GROUP_ID=my-consumer-group-example
KAFKA_AUTO_OFFSET_RESET=latest
KAFKA_LISTENER_ACK_MODE=MANUAL

# Core business
## Songs
SONG_PAGE_MAX_SIZE=200
SONG_PAGE_DEFAULT_SIZE=20

# Logging
ROOT_LOG_LEVEL=INFO
SERVICE_LOG_LEVEL=DEBUG
CONSUMER_LOG_LEVEL=TRACE