# Database
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=myuser
DB_PASSWORD=changeme
DDL_AUTO=update

# Servlet
CONTEXT_PATH=/mycontextpath
MAX_FILE_SIZE=50MB
MAX_REQUEST_SIZE=50MB

# Catalog
MUSIC_FORMATS=audio/mpeg,audio/flac,audio/wav
MAX_AUDIO_SIZE=50MB