# Database
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=myuser
DB_PASSWORD=changeme
DDL_AUTO=update

# Servlet
CONTEXT_PATH=/mycontextpath

# Catalog
MUSIC_FORMTATS=audio/mpeg,audio/flac,audio/wav