# Database
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=myuser
DB_PASSWORD=changeme
DDL_AUTO=update

# Servlet
CONTEXT_PATH=/mycontextpath
MAX_FILE_SIZE=50MB
MAX_REQUEST_SIZE=50MB

# Catalog
## Music
MUSIC_FORMATS=audio/mpeg,audio/flac,audio/wav
MAX_AUDIO_SIZE=50MB

### Audio Storing
TEMP_DIR=/documents/my-files
TEMP_FILE_PREFIX=example_music_

# AWS
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_REGION=eu-west-1
S3_BUCKET_NAME=my-bucket-example
S3_AUDIO_PREFIX=my-audio-prefix/
S3_UPLOAD_ENABLED=true

# Logging
ROOT_LOG_LEVEL=INFO
SERVICE_LOG_LEVEL=DEBUG