# Database
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=myuser
DB_PASSWORD=changeme
DDL_AUTO=update

# Server
SERVER_PORT=8094

## Servlet
CONTEXT_PATH=/mycontextpath

## Kafka
### Topics
ARTIST_TOPIC_NAME=art.topic

### Consumer & Listener
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_CONSUMER_GROUP_ID=my-consumer-group-example
KAFKA_AUTO_OFFSET_RESET=latest
KAFKA_LISTENER_ACK_MODE=MANUAL

# Auth Service
CURRENT_USER_KEYWORD=myself
ARTIST_REQUEST_MAX_PAGE_SIZE=20

# Catalog Command Service
CATALOG_COMMAND_SERVICE_URL=http://localhost:8081
ARTIST_CREATION_URI=/api/artists

# AWS
AWS_REGION=eu-west-1

## Cognito
COGNITO_USER_POOL_ID=eu-west-1_123abcZXY
COGNITO_ATTRIBUTE_ARTIST_ID_NAME=custom:affiliated_artist_uuid
COGNITO_USER_GROUP_NAME=regularusers
PROVIDER_NAME=cognito

# Logging
ROOT_LOG_LEVEL=INFO